body{
  font-family: $OpenSans;
  background: #F8F8F8;
}

.container{
  display: block;
  max-width: 1210px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  &.flex-container{
    display: flex;
  }
}

.main{
  display: block;
  padding: 50px 0;
}

.main-wrapper{
  display: block;
  max-width: 770px;
  width: 100%;
  margin-right: 65px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.more-rows{
  display: flex;
  justify-content: center;

  .btn{
    min-width: 310px;
  }
}

.title-rows{
  display: block;

  .title{
    display: block;
    font: $regular 30px/1.3 $OpenSans;
    color: $gray-400;
  }
}