.hero-publications{
  display: flex;
  justify-content: space-between;

  .publication-full{
    display: block;
    position: relative;
    width: calc(50% - 15px);
  }

  .category{
    .category-link{

    }

  }

  .media-link{

  }

  .title{
    .publication-link{

    }
  }
}