.hero-block {

  .hero-block__inner {
    position: relative;
  }

  .hero-block__picture {

    position: relative;
    display: block;

    img {
      max-width: 100%;
    }

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background: rgb(10,22,51);
      background: linear-gradient(180deg, rgba(10,22,51,0) 13%, rgba(10,22,51,0.5494572829131652) 29%, rgba(10,22,51,1) 100%);
    }
  }
  .hero-block__text {
    position: absolute;
    bottom: 10px;
    padding: 0 10px;
  }

  .hero-block__title {
    font-family: 'PT Serif', serif;
    font-size: 1.2rem;
    line-height: 1.1;

    margin-bottom: 10px;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .hero-block__category {
    font-weight: bold;

    a {
      color: $blue-100;
    }
  }

  @media (max-width: 640px) {
    article:first-child {
      margin-bottom: 15px;
    }
  }
}

.article-block__main-category, .h3 {
  padding-top: 0.5rem;
  margin-bottom: calc(var(--bs-gutter-x) / 2);
  border-top: 2px solid $blue-300;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;

  a {
    color: $blue-300;
  }
}

.sticky-posts {
  margin-bottom: calc(var(--bs-gutter-x));

  .hero-block {

    &:after {

      display: block;
      content: '';
      width: 100%;

      margin-bottom: calc(var(--bs-gutter-x) * 2);
      padding-bottom: calc(var(--bs-gutter-x));

      margin-right: calc(var(--bs-gutter-x) / 2);
      margin-left: calc(var(--bs-gutter-x) / 2);

      border-bottom: 1px solid $grey-200;
    }

  }

  .article-block__title {
    line-height: 1.1;

    a {
      text-decoration: none;
    }
  }

  .article-block__picture img, .article-block__title, .article-block__date, .article-block__preview {
    margin-bottom: 15px;
  }
}

.home-page-content {

  .article-block {
    margin-bottom: calc(var(--bs-gutter-x) * 2);
  }

  img {
    max-width: 100%;
  }

  .article-block__vertical {
    margin-bottom: calc(var(--bs-gutter-x) * 2);

    .article-block__vertical-inner {
      margin-bottom: calc(var(--bs-gutter-x) * 2);

      &.article-hero {
        .article-block__title {

          font-family: 'PT Serif', serif;
          font-size: 2rem;
          line-height: 1;

          a {
            color: $blue-300;
            text-decoration: none;
          }
        }
      }
    }
  }

  .article-block__title {
    font-size: 1rem;
  }
}

.polls {
  padding-top: calc(var(--bs-gutter-x));
  padding-bottom: calc(var(--bs-gutter-x));
  background: rgba(162, 217, 246, 0.2);
}

@media (max-width: 641px) {
  .article-block__inner {
    margin-bottom: calc(var(--bs-gutter-x));

    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media (min-width: 641px) {
  .hero-block {
    .hero-block__text {
      bottom: 10px;
      padding: 0 55px;
    }

    .hero-block__picture {
      &:before {
        background: linear-gradient(180deg, rgba(10,22,51,0) 23%, rgba(10,22,51,0.5494572829131652) 49%, rgba(10,22,51,1) 100%);
      }
    }

    .hero-block__title {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }

    .read-more {
      a {
        padding: 8px 14px;
      }
    }
  }

  .article-block__horizontal {
    &:nth-child(even) {
      .article-block__media {
        order: 2;
      }
      .article-block__posts {
        order: 1;
      }
    }

    .article-block__preview {
      margin-bottom: 0;
    }
  }

  .article-posts__vertical-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .article-block__vertical {

      &:not(:nth-child(even)) {
        margin-right: 10px;
      }
    }
  }
}

@media (min-width: 1201px){
  .hero-block {
    .hero-block__title {
      font-size: 1.8rem;
    }

    .hero-block__text {
      bottom: 40px;
    }
  }

  .article-posts__vertical-container {
    .article-block__vertical {
      width: calc(50% - 10px);
    }
  }

  .home-page-content {
    .article-block__inner {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      .article-block__picture {
        flex-shrink: 0;
        margin-right: 10px;

        picture {
          display: flex;

          img {
            height: auto;
            width: auto;
          }
        }
      }

      .article-block__preview {
        font-size: 0.85rem;
        line-height: 1;
      }
    }
  }
}