@font-face {
  font-family: 'fontello';
  src: local('☺'), url('static/fonts/fontello.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  line-height: 1;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gab:before { content: '\e800'; }
.icon-comment:before { content: '\e802'; }
.icon-email:before { content: '\e803'; }
.icon-print:before { content: '\e804'; }
.icon-whatsapp:before { content: '\e805'; }
.icon-search:before { content: '\e806'; }
.icon-tw:before { content: '\f099'; }
.icon-fb:before { content: '\f09a'; }
.icon-rss:before { content: '\f09e'; }
.icon-telegram:before { content: '\f1d8'; }
