.news-timeline {

  @media (min-width: 641px) {
    //max-height: 3000px;
    overflow-y: auto;
    padding-right: 10px;
    width: 100%;
    border-bottom: solid 2rem $grey-100;
  }

  .news-timeline__article:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .news-timeline__day {
    margin-bottom: 2.5rem;
    padding-bottom: 2.2rem;

    border-bottom: 2px solid $blue-300;

    font-size: 1.5rem;
    text-transform: uppercase;

    font-weight: bold;

    line-height: 1;

  }

  .news-timeline__picture img{
    max-width: 100%;
  }

  .news-timeline__picture img, .news-timeline__title, .news-timeline__date, .category_link {
    margin-bottom: 10px;
  }

  .news-timeline__date-wrapper {
    display: flex;

    .news-timeline__date {
      margin-right: 1rem;
    }

    .category_link {
      a {
        text-decoration: underline;
      }
    }
  }

  .news-timeline__title {
    font-size: 1rem;

    a {
      text-decoration: underline;
    }
  }
}

@media (max-width: 640px) {
  .news-timeline {
    max-height: 600px;
    overflow-y: auto;

    background: $grey-100;
    margin-left: -16px;
    margin-right: -16px;
    padding: 1rem;

    margin-bottom: calc(var(--bs-gutter-x));
  }

}