/*! purgecss start ignore */
.breadcrumbs {
  display: flex;
  list-style: none;

  margin: 0 0 10px 0;
  padding: 0;

  font-weight: bold;

  line-height: 1;

  .item-link {
    color: $blue-100;
  }

  .list-item{
    &:not(:last-child) {
      margin-right: 5px;
      padding-right: 5px;

      border-right: 1px solid $grey-300;
    }
    &:first-child {
      .item-link {
        color: $grey-300;
      }
    }
  }
}

.content-wrapper {
  margin-bottom: calc(var(--bs-gutter-x) * 2);

  .ads-wrapper {
    .ads-block {
      position: sticky;
      top: 70px;
    }
  }
}

.article-h1 {
  margin-bottom: 2.25rem;
  padding-bottom: 2.25rem;

  border-bottom: 1px solid $grey-200;

  font-family: 'PT Serif', serif;
  font-size: 2.5rem;

  line-height: 1;

}

.article-block__picture {
  display: block;
  img {
    max-width: 100%;
  }
}

.single .article-block__picture {  
  margin-bottom: calc(var(--bs-gutter-x) * 2);
}

.article-body {
  overflow-wrap: break-word;

  img {
    max-width: 100%;
  }
  p{
    &:last-child {
      margin-bottom: 0;
    }
  }

  .wp-block-quote {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: $grey-300;
    font-style: italic;

    margin-left: 0;
    margin-right: 0;

    background: url("static/img/quote.png") no-repeat top left;
    padding-left: 37px;
    background-size: 27px 20px;

    @media (min-width: 641px) {
      font-size: 1.5rem;
      padding-left: 127px;
      background-size: 87px 63px;

    }
  }
  .wp-block-embed, .wp-block-image {
    margin-left: 0;
    margin-right: 0;
  }

  .wp-block-image {
    img {
      width: auto;
      height: auto;
    }
  }
}

.article-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: calc(var(--bs-gutter-x) * 2);

  padding-bottom: calc(var(--bs-gutter-x) / 2.5);
  padding-top: calc(var(--bs-gutter-x) / 2.5);

  border-top: 1px solid $grey-200;
  border-bottom: 1px solid $grey-200;

  .share-block {
    display: flex;
    align-items: center;

    .label {
      margin-right: 10px;

      color: $grey-200;
    }
  }

  .date {
    margin-bottom: 0;
  }
}

.read-more-box {
  margin-bottom: calc(var(--bs-gutter-x) * 2);

  .read-more-title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;

    padding-top: 5px;
    border-top: 4px solid $blue-300;

    margin-bottom: calc(var(--bs-gutter-x) / 2);
  }

  .article-block__title {
    a{
      text-decoration: none;
    }
  }

  @media (max-width: 640px) {
    .tease {
      margin-bottom: calc(var(--bs-gutter-x) * 2);
    }
  }
}

@media (max-width: 640px) {

  .article-footer {
    flex-direction: column;
    align-items: flex-start;

    .share-block {
      display: none;
    }
  }

  .article-h1 {
    font-size: 1.8rem;
    margin-bottom: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

/*! purgecss end ignore */