//Fonts//
$OpenSans: 'Open Sans', sans-serif;
$TimesNewRoman: 'Georgia', 'Times New Roman', serif;

//End Fonts//

//Fonts weight//
$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-bold: 900;
//End Fonts weight//


$white: #ffffff;
$black: #000000;

$gray-100: #CCCCCC;
$gray-200: #848484;
$gray-300: #9C9C9C;
$gray-400: #414141;
$gray-500: #444444;
$gray-600: #464646;
$gray-700: #C4C4C4;
$gray-800: #B5B5B5;
$gray-900: #E4E4E4;

$red-100: #D75E5E;
$red-200: #C00000;
$red-300: #BF0000;
$red-400: #BF2026;

$blue-100: #006DAB;