.widget{
  display: block;
  margin-bottom: 30px;
}

.widget_lanc_memes_widget{

  @include media(desktop){
    max-width: 335px;
    margin: 0 auto 30px;
  }

  @include media(phone){
    width: calc(50% - 15px);
    margin: 0 0 30px;
  }

  @include media(mobile){
    width: auto;
    margin: 0 auto 30px;
  }

  .string {
    display: block;
    background-color: $blue-100;
    text-align: center;
    padding: 10px 15px;

    .text{
      display: block;
      font: $bold 23px/1.3 $OpenSans;
      color: $white;
      text-transform: uppercase;
    }

    .link{
      display: block;
      font: $regular 16px/1.3 $OpenSans;
      color: $white;
    }
  }

  .picture{
    display: block;
    line-height: 0;
  }
}

.link-widget{
  line-height: 0;

  .link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $red-400;
    padding: 20px 25px;
  }

  .wrap{
    display: inline-block;
    padding-right: 15px;

    @include media(desktop){
      display: inline-flex;
      flex-wrap: wrap;
    }

    .text{
      display: block;
      font: $bold 30px/1.3 $OpenSans;
      color: $white;

      @include media(desktop){
        padding-right: 30px;
      }
    }
  }

  .icon{
    display: inline-block;
    font-size: 70px;
    color: $white;

    @include media(desktop){
      font-size: 50px;
    }
  }
}

.post-widget{

  @include media(desktop){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .post{
    display: block;
    padding-top: 20px;

    @include media(desktop){
      width: calc(50% - 12px);
    }

    @include media(mobile){
      width: 100%;
    }

    .media-link{
      display: block;
      line-height: 0;

      @include media(desktop){
        display: none;
      }
    }

    .title{
      display: block;
      padding-top: 10px;

      @include media(desktop){
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        padding: 0;
      }

      a{
        display: inline-block;
        font: $bold 18px/1.2 $OpenSans;
        color: $gray-400;

        @include media(desktop){
          padding: 10px;
        }

        @include media(mobile){
          font-size: 16px;
        }
      }
    }
  }
}

.send-widget{
  background: $white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  padding: 25px;

  .title{
    display: block;
    text-align: center;
    font: $regular 30px/1.3 $TimesNewRoman;
    color: $gray-500;
    padding-bottom: 20px;
  }

  .input-group{
    display: block;
    padding-bottom: 10px;
  }

  input{
    display: block;
    width: 100%;
    height: 42px;
    font: $regular 14px/1 $OpenSans;
    color: $gray-400;
    text-align: center;
    background: $white;
    border: 1px solid $gray-800;
  }

  ::-webkit-input-placeholder {
    color: rgba(87, 87, 87, 0.51);
    font-style: italic;
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  ::-moz-placeholder {
    color: rgba(87, 87, 87, 0.51);
    font-style: italic;
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  :-moz-placeholder {
    color: rgba(87, 87, 87, 0.51);
    font-style: italic;
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  :-ms-input-placeholder {
    color: $gray-700;
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  :focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  :focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  :focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  :focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .btn{
    width: 100%;
  }
}