<div class="container">
  <div class="footer_logo">
    <a href="index.html" class="logo">
      <img src="{{ theme.link }}/static/img/logo_w.png" alt="img">
    </a>
    <p class="quotes">
      {% set quote = random( quotes ) %}
      {{ quote.text }}
          -
      {{ quote.source }}
    </p>
  </div>
  <div class="footer_nav">
    {% include 'menu.twig' with {'items': footer_menu.get_items} %}
  </div>
  <div class="footer_basement">
    <p class="copyright">© {{ 'now' | date('Y') }} The Lancaster Christian</p>
    <ul class="list">
      <li class="item">
        <a href="#" class="link">Privacy Policy</a>
      </li>
      <li class="item">
        <a href="#" class="link">Terms of Service</a>
      </li>
    </ul>
  </div>
</div>