{% extends "base.twig" %}

{% block content %}

	<div class="posts sticky-posts">
		{% include( 'partial/front-sticky-posts.twig' ) %}
	</div>

	<div class="posts home-page-content">
		{% include( 'partial/home-page-content.twig' ) %}
	</div>

	{% if hidePolls == false %}
	<div class="posts polls home-page-content">
		{% include( 'partial/polls.twig' ) %}
	</div>
	{% endif %}

{% endblock %}
