{% extends "base.twig" %}

{% block main %}
	<div class="title-page">
		<div class="container small-container">
			<h1 class="title">{{post.title}}</h1>

		</div>
	</div>

	{% block content %}
		<div class="container small-container">
			<div class="about">
				<div class="shared-row">
					<div class="addthis_inline_share_toolbox_yrh6"></div>
				</div>
				<hr>
				<div class="text-row">
					{{ post.content }}
				</div>
				<hr>
				<div class="shared-row">
					<div class="addthis_inline_share_toolbox_yrh6"></div>
				</div>
			</div>
		</div>

	{% endblock %}
{% endblock %}
