  <button class="cross btn-close" type="button"></button>
  <ul class="menu-list">
    {% for item in items %}
      <li class="menu-item">
        <a class="menu-link"{% if item.target %} target="{{ item.target }}"{% endif%} href="{{ item.link }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>