<!-- read-more-posts -->
<section class="read-more-box">
  <h2 class="read-more-title">Read more</h2>

  <div class="row">
    {% for post in readMorePosts %}
      {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
    {% endfor %}
  </div>
</section>