<form role="search" method="get" id="searchform" class="searchform" action="{{site.link}}">
    <div class="form-input">
        <input type="text" class="form-input__input" value="{{ function('get_search_query') }}" placeholder="Введите ключевое слово" name="s" id="s" />
    </div>
    <button class="form-submit">
      <img src="{{ theme.link }}/static/img/icon_search.png" alt="Искать" class="form-submit" width="24" height="24">
      <span class="visually-hidden">Поиск</span>
    </button>
    <img src="{{ theme.link }}/static/img/icon_search.png" alt="Искать" class="form-icon icon-search" width="24" height="24">
</form>